.brackets.json

.idea

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

*.xml

*.iml

.idea/watcherTasks.xml

.idea/watcherTasks.xml

.sass-cache

bower_components

node_modules
/_bugs.txt
/generateMD.bat
/imgs/layout.tif
/imgs/logo-512.psd
/imgs/layout_preview.psd
/_gulpfile.js
*.psd
*.tif
*.psd
*.bak
